.button {

  font-family: sans-serif;
  font-weight: 700;
  background-color: #009900;
  border: 1px solid #00a550;
  padding: 10px 25px;
  border-radius: 30px;
  color: rgba(255, 255, 255, 0.8);
  cursor: pointer;

  &:hover {
    cursor: pointer;
  }

  &:active {
    filter: brightness(0.9);
    transform: translateY(4px);
  }

  &:disabled {
    filter: brightness(0.6);
  }

  &:disabled:active {
    transform: none;
  }

  &:disabled:hover {
    cursor: default;
  }
}

.colors {
  color: white;
}

// .test{
//     margin: 10px;
// }

@media (max-width: 600px) {
  .button {
    width:max-content;
  }
}
